<p>Add / Remove cells</p>
<div>
    <button (click)="addCell('percent')">Percent</button>
    <button (click)="addCell('currency')">Currency</button> 
    <button (click)="addCell('input')">Input</button> 
    <button (click)="popCell()">Pop</button>
</div>

<p>Change array order, data bindings, component classes</p>
<div>
    <button (click)="randomizeDatas()">Randomize data</button>
    <button (click)="randomizeComponents()">Randomize components</button>
    <button (click)="shuffleCells()">Shuffle</button>
</div>

<!-- Showcasing output binding from input cell component -->
<div *ngIf="event" class="event">
    {{ event.type }} : {{ event.value }}
</div>

<!-- Rendering dynamic custom cell components -->
<ng-template *ngFor="let cellComponent of cellComponents" 
    appCell 
    [cell]="cellComponent.cell" 
    [data]="cellComponent.data" 
    (valueChanged)="handleCellChangedEvent($event)">
</ng-template>
