button {
    margin-right: 10px;
    margin-bottom: 15px;
}

.event {
    // border-bottom: 1px solid grey;
    margin-bottom: 24px;
    padding: 4px 10px;
    border-radius: 4px;

    color: white;
    background-color: darkgrey;
}
