@use "sass:math";

$padding: 22px;

body {
  margin: 2em;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
body, input[text], button {
  color: #333;
}
a {
  cursor: pointer;
}
input {
  padding: math.div($padding, 2) $padding;
  font-size: 16px;
}
button {
  font-size: 16px;
  background-color: #eee;
  border: none;
  padding: math.div($padding, 2) $padding;
  border-radius: math.div($padding, 2);
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: math.div($padding, 2) $padding;
  text-decoration: none;
  margin-right: $padding;
  margin-top: $padding;
  display: inline-block;
  background-color: #eee;
  border-radius: math.div($padding, 2);
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}
